site_name: Corvus Library
site_url: https://nicoleman0.github.io/docu-site/
site_description: Open-source security policies and cybersecurity documentation
site_author: Nicholas Coleman

use_directory_urls: true
strict: true

theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - search.highlight
    - search.share

nav:
  - Home: index.md
  - About: about.md
  - Policies:
      - Acceptable-Use Policy: policies/aup.md
  - Tools:
      - DNSpy: tools/dnspy.md
      - VTScan: tools/vtscan.md
      - Port Scanner in Go: tools/port-scanner-go.md
  - Blog:
      - Setting Up Wazuh: blog/wazuh-setup.md
  - References: references.md

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - meta
  - toc:
      permalink: true

repo_url: https://github.com/nicoleman0/docu-site
repo_name: GitHub

site_dir: site
